.hall-card {
    background-color: #535bf2;
    border-radius: 5px;
    width: 700px;
    margin: 10px;
    padding: 5px;
}

.rows {
    margin: 0 75px 0;
    border: #1a1a1a solid 1px;
    flex-direction: row;

}

.screen {
    margin: 5px 40px 5px;
    height: 20px;
    background-color: white;
}

.screen h5 {
    color: black;
    margin: unset;
}

.seatsPerRow {
    display: flex;
    justify-content: center;
}

.buttons{
    padding: 15px;
}
.button-copied{
    background-color: green;
}

.circle {
    height: 25px;
    width: 25px;
    background-color: darkblue;
    border-radius: 50%;
    display: inline-block;
    margin: 1px;
}
.circle:hover{
    background-color: dodgerblue;
}
.seats {
    background-color: darkblue;
    border-radius: 50%;
}