.hall-card {
    background-color: #535bf2;
    border-radius: 5px;
}

.rows{
    margin: 0 75px 0;;
    border: #1a1a1a solid 1px;
    flex-direction: row;

}
.rows hr{
    margin: 5px 40px 5px;
    height: 10px;
    background-color: white;
}
.seatsPerRow{
    flex-direction: column;
}
