.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    a{
        width: max-content;
    padding: 10px;
    }
.button {
    align-items: center;
}
}