.all-fav-movies{
    display: flex;
    flex-direction: row;
    justify-self: center;
    border: 2px solid #535bf2;
    border-radius: 10px;
    margin: 5px;
    padding: 0 10px 0;
    width: 50%;
    justify-content: center;
}