.all-fav-movies{
    display: flex;
    flex-direction: row;
    justify-self: center;
    border: 1px solid wheat;
    border-radius: 10px;
    margin: 5px;
    padding: 0 10px 0;
    width: max-content;
}