.circle {
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    margin: 1px;
    border:  1px solid darkblue;
}
.circle:hover{
    background-color: dodgerblue;
}

#activeSeat{
    background-color: greenyellow;
}